name: test-linux-mac
on:
  push:
    branches-ignore:
      - prerelease
  pull_request:
    branches-ignore:
      - prerelease

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.10"
          - "1"
          - "pre"
          - "nightly"
        os:
          - macos-15-intel
          - ubuntu-latest
        arch:
          - x64
        include:
          - os: macos-latest
            arch: aarch64
            version: "1"
          - os: macos-latest
            arch: aarch64
            version: "nightly"
          - os: macos-latest
            arch: aarch64
            version: "pre"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: Build libcxxwrap
        continue-on-error: true
        env:
          body: ${{ github.event.pull_request.body }}
        run: |
          mkdir libcxxwrap && cd libcxxwrap
          first_line=$(echo "$body" | sed -n '1p')
          if [[ "$first_line" != "http"* ]]; then
            exit 0
          fi
          if [[ "$first_line" == *"#"* ]]; then
            IFS='#' read -r left right <<< "$first_line"

            repo_url=$(echo "$left" | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')
            branch=$(echo "$right" | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')
          else
            repo_url="$first_line"
            branch="main"
          fi
          echo "repo_url: '$repo_url'"
          echo "branch: '$branch'"
          git clone --branch "$branch" --single-branch "$repo_url" .
          echo "done cloning"

          if [[ "$OSTYPE" != "darwin"* ]]; then
            rm -f /opt/hostedtoolcache/julia/1.6*/x64/lib/julia/libstdc++.so.6
          fi
          mkdir build && cd build
          cmake -DCMAKE_INSTALL_PREFIX=$HOME/install -DAPPEND_OVERRIDES_TOML=ON -DCMAKE_BUILD_TYPE=Debug ..
          VERBOSE=ON cmake --build . --config Debug --target install
          wget https://github.com/JuliaRegistries/General/raw/refs/heads/master/jll/L/libcxxwrap_julia_jll/Versions.toml
          jllversion=$(grep '\["' Versions.toml | tail -n 1 | sed -E 's/\["([0-9]+\.[0-9]+\.[0-9]+)\+[^"]*"\]/\1/g')
          cd lib
          if [ ! -f libcxxwrap_julia.${jllversion}.dylib ]; then
            ln -s libcxxwrap_julia.*.*.*.* libcxxwrap_julia.${jllversion}.dylib
          fi
          cd ..
          ls -al lib
          cd ../..
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
